body {
    background: cyan;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Playfair Display', serif;
}

.header_div {
    background: orange;
    color: blue;
}

.header_div {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 13px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(red, green, blue);
}